AuthName "dex.stakeprotocal.com statistics"
AuthType Basic
AuthUserFile /home/stakeprotocal/domains/dex.stakeprotocal.com/.stats-htpasswd
require valid-user
<Files .stats-htpasswd>
deny from all
</Files>
